.imgPet {
    width: 100px;
    height: 100px;
}

.buttonsPet{
    display: flex;
    flex-direction: row;
}

.containerPetStats {
    width: 300px; /* Tamaño inicial */
    word-wrap: break-word;
    word-break: break-all; 
    line-height: 1.5; 
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.containerPets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    border-radius: 5%;
    padding-left: 10px;
    align-items: center;
}
.imgPetandSelect {
    display: flex;
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #805832bd;
    max-height: 500px;
    min-height: 500px;
    
}

.petText {
    margin: 0px;
    margin-right: 10px;
    word-break: break-word;
}