:root {
    --purple-0: #FACCFF;
    --purple-1: #DCB0FF;
    --purple-2: #BE93FD;
    --purple-3: #A178DF;
    --purple-4: #845EC2;
  }

  .containerGameBoard {
    transform: rotateX(60deg)
               rotateZ(45deg);
    width: 60vw;
    height: 50vw;
    /* background: var(--purple-0); */
   
    

  }

  .bottomGB {
    width: 5vw;
    height: 5vw;
    /* background-color: rgb(158, 158, 255); */
    background-image: url('/img/assets/grass/grass1.png');
    position: absolute;
    transform: translateY(40vw); /* Base de posici贸n */
    border: 2px solid black; 
    z-index: 3;
  }
 
  .border {
    position: absolute;
    background-color: rgb(0, 128, 0);
    pointer-events: none; /* No interactivo */
    z-index: 3;
    background-image: none;
    opacity: 0.3;
  }

  .playerChar {
    position: absolute;
    width: 10vw;
    height: 20vw;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
    z-index: 20;
  }
  
  .enemy {
    position: absolute;
    width: 10vw;
    height: 20vw;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
    z-index: 20;
    /* Posici贸n inicial del cuadrado verde */
    transform: translate(45vw, 0vw);

  }
.summon{
  position: absolute;
  width: 5vw;
  height: 10vw;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  z-index: 19;
  /* Posici贸n inicial del cuadrado verde */
  transform: translate(45vw, 0vw);
}


.highlighted {
  background-color: rgba(255, 0, 0, 0.89);
  z-index: 5;
  background-image: linear-gradient(rgba(148, 111, 111, 0.5), rgba(149, 71, 71, 0.5)), 
  url('/img/assets/grass/grass1.png');
  
}   

.player-position {

  background-image: linear-gradient(rgba(206, 128, 128, 0.5), rgba(240, 116, 116, 0.5)), 
  url('/img/assets/grass/grass1.png');
  border-color: #ff4f4f;
  border-width: 5px;
  z-index: 6;
}

.enemy-position {
  
  background-image: linear-gradient(rgba(246, 255, 0, 0.5), rgba(149, 71, 71, 0.5)), 
  url('/img/assets/grass/grass1.png');
  border-color: #fff04f;
  border-width: 5px;
  z-index: 6;
}


.attack-range {
    /* background-image: linear-gradient(rgba(246, 255, 0, 0.5), rgba(149, 71, 71, 0.5)), 
  url('/img/assets/grass/grass1.png'); */
  /* border-color: #ff4f4f; */

  z-index: 6;

  animation: borderGlow 0.5s infinite alternate;
}

/* Definir la animaci贸n para el borde brillante y crecimiento */
@keyframes borderGlow {
  0% {

    box-shadow: 0 0 2px 3px #38a03a;
  }
  100% {

    box-shadow: 0 0 5px 5px #38a03a;
  }
}