.sectionPlayer {
  max-height: 800px;
  font-size: 1.03em;
}
.containerPlayer {
  display: flex;
  justify-content: center;
}

.statsPoints {
  width: 150px;
}
.statsAndAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
ul {
  list-style: none;
}

.PetDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
}
.PetStats {
  justify-content: flex-start;
}
.petPara {
  margin-top: 3px;
  margin-bottom: 0px;
}

.medieval-button {
  padding: 5px 10px;
  background-color: #85501f; /* A dark wood-like brown */
  color: #f4e5c3; /* A parchment-like off-white */
  border: 1px solid #c0a080; /* A lighter brown border */
  font-family: 'Goudy Bookletter 1911', serif; /* A font with an old-style feel */
  font-size: 18px;
  text-shadow: 1px 1px 0px #a67c52; /* Gives a bit of depth to the text */
  box-shadow: 2px 2px 0px #a67c52; /* Simulates an inset look */
  border-radius: 1px; /* Slightly rounded corners */
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 5px;
  margin-bottom: 3px;
}

.medieval-button:hover {
  background-color: #8a6e2f; /* A lighter, worn wood color for hover */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); /* A more pronounced shadow for hover */
}

.medieval-button:active {
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5); /* An inset shadow for a pressed effect */
  transform: translateY(2px); /* Moves the button down to simulate a press */
}

.playerbackbutton {
  height: 100px;
  width: 100px;
}
.mediumColumnStats {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
@media (max-width: 1360px) and (max-height: 768px) {
  .sectionPlayer {
    max-height: 550px;
    font-size: 0.7em;
  }
  .statsAvatar{
    width: 100px;
  }
  .PetDescription {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
  }

}