body {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.gameBoard {
  position: absolute;
  top: 10%;
  left: 25%;
  transition:
    top 0.2s ease,
    left 0.2s ease;
}
.imgEnemy {
  max-width: 150px;
  max-height: 150px;
}

button:hover {
  background-color: #d62828;
}
.turn-indicator {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 50;
}
button:disabled {
  background-color: #555;
  cursor: not-allowed;
  background-image: none;
}
button:disabled:hover {
  background-color: #555;
  cursor: not-allowed;
  background-image: none;
}

/* Styling for the action log div */
.action-log {
  position: absolute;
  top: 80.5%;
  left: 5%;
  width: 17%;
  height: 13%;
  padding: 2px 20px;
  margin-top: 20px;
  background-color: #343a40;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;

  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
  z-index: 31;
}

/* Estilo para cada mensaje en la lista */
.action-log li {
  margin: 5px 0;
  font-weight: bold;
  color: #ffc107;
}

.bossSign {
  color: red;
}

.potionImg {
  height: 30px;
  width: 40px;
  aspect-ratio: 1 / 1;
}
.potionsButton {
  z-index: 40;
}
.attackAndPotions {
  display: flex;
  flex-direction: row;
}
.attacks {
  display: flex;
  flex-direction: column;
  z-index: 40;
  position: absolute;
  top: 4%;
  left: 1%;
  padding: 1%;
  max-width: 250px;
  max-height: 400px;
  min-width: 250px;
}
.blackScreenAttacks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 2%;
  background-color: #333a42;
  padding: 1%;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.espada,
.huir {
  z-index: 1;
}

.container-endBattle {
  position: absolute;
  left: 38%;
  z-index: 41;
  top: 40%;
  display: flex;
  flex-direction: row;
}
.blackScreen {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 40;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
}

#newDesign {
  height: 45px;
  width: 40px;
  min-width: 100px;
}

.listSize {
  max-width: 200px;
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
  overflow: hidden; /* Oculta el texto que se pasa del ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos para texto truncado */
}

.dropdown-container {
  position: relative; /* Establece el contexto de posición */
}

.rpgui-dropdown-imp.listSize {
  position: absolute; /* La lista se posiciona de manera absoluta */
  top: 100%; /* Coloca la lista justo debajo del header */
  left: 0;
  z-index: 50; /* Asegura que la lista esté sobre otros elementos */
  min-width: 250px;
  max-height: 200px; /* Altura máxima para la lista */
  overflow-y: auto; /* Scroll si hay muchas opciones */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: Sombra */
}

/* *********************PLAYER CHARACTER TSX***************/
.charFightSceneDescription {
  margin-right: 10px;
}

/* Character containers */
.PlayerChar,
.EnemyChar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 19%;
}

.blackBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 20px; */
  background-color: #3c3f47;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 16%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: 20;
}
.PlayerChar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;

  /* opacity: 0.8; */
}
.EnemyChar {
  position: absolute;
  top: 10%;
  right: 0;
  width: 13%;
  height: 30%;
  background-color: #3c3f47;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
/* Character information */
.PlayerChar p,
.EnemyChar p {
  margin: 1px 0;
  font-size: 1.1rem;
}

.bars {
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-text,
.health-text {
  width: 100%;
  color: rgb(255, 255, 255); /* Texto negro para contraste */
  font-weight: bold;
  z-index: 1;
}

.heal-bar-container-text {
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.experience-bar-container,
.health-bar-container,
.mana-bar-container {
  width: 60%;
  height: 70%;
  background-color: #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.experience-bar,
.health-bar,
.mana-bar {
  height: 100%;
  border-radius: 10px;
}
.mana-bar {
  background-color: #2e71ee;
}
.experience-bar {
  background-color: #7903af;
  align-self: flex-start;
}

.health-bar {
  background-color: #f32222;
}

.fixedUI {
  position: fixed; /* Permanece en el mismo lugar al mover la pantalla */
}

.listCombatItems{
  position: fixed; 
  top:38px;
  left: 280px
}