.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: rgba(128, 88, 50, 0.74);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    background-color: rgba(112, 68, 26, 0.644);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats p {
    margin: 5px;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 300px; /* Para asegurar que el contenedor ocupe todo el espacio */
}

.buttons button {
    width: 120px;
    height: 40px;
}

