.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #494949;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats {
    flex: 1;
    margin-right: 20px;

}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 300px; /* Para asegurar que el contenedor ocupe todo el espacio */
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Los botones ocupan todo el espacio disponible en cada columna */
    box-sizing: border-box; /* Para asegurar el mismo tamaño al incluir el padding */
}

button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.95);
}
