@keyframes beat {
    0%, 40%, 100% { transform: scale(1.2, 1.2); }
    30%, 40% { transform: scale(0.92, 0.95); }
  }
  
  
  /* Corazón */
  
  .heart{
      position: relative;
      animation: 1.5s ease 0s infinite beat;

  }
.p_leaftHealth{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    max-width: 100%;
    margin: auto;
    background-color: rgba(128, 88, 50, 0.74);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}
.hospitalRecover {
    display: flex;
    flex-direction: row;
    position: relative;
}


.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    background-color: rgba(112, 68, 26, 0.644);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;

}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats p {
    margin: 5px;
    margin-top: 10px;
}

.buttons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    /* gap: 10px; */
    /* width: 300px;  */

}

.buttons button {
    background-size: 100% 90%;
    font-size: 1.05em;
    padding-left: 30px;
    max-width: none;
    width: 170px;


}

