.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(128, 88, 50, 0.74);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.1);
    /* font-family: 'Arial', sans-serif; */
 
}

.nameInput {
    text-shadow: none;
}
  button {
    display: block;
    margin: 10px auto;
    padding: 8px 12px;
    border: none;
    background-color: #8b4513;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0522d; /* Match hover effect of list items */
}
button:active {
    transform: scale(0.95);
}