.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(128, 88, 50, 0.74);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.1);
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('img/wallpaperHome.png');
    background-size: cover;        /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;   /* Evita que la imagen se repita */
    background-attachment: fixed;   /* Fija la imagen al fondo cuando se hace scroll */
  }